openapi: 3.0.3
info:
  title: Serper Google Search Autocomplete Shopping API
  description: RESTful API providing real-time Google Search Engine Results Page (SERP) data in structured JSON format. Supports web search, image search, news, maps, places, videos, shopping, scholar, patents, and autocomplete via POST endpoints. Authentication uses an X-API-KEY header. Designed for high-throughput AI and LLM applications with up to 300 queries per second.
  version: 1.0.0
  contact:
    name: Serper Support
    url: https://serper.dev
  termsOfService: https://serper.dev/terms-of-service
  license:
    name: Commercial
    url: https://serper.dev
servers:
- url: https://google.serper.dev
  description: Serper API server
security:
- apiKeyHeader: []
tags:
- name: Shopping
  description: Product and shopping search results
paths:
  /shopping:
    post:
      operationId: shoppingSearch
      summary: Shopping Search
      description: Perform a Google Shopping search returning product listings with titles, prices, sources, delivery info, ratings, images, and product IDs.
      tags:
      - Shopping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
            example:
              q: Nike Air Max
              gl: us
              hl: en
      responses:
        '200':
          description: Successful shopping search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    SearchParameters:
      type: object
      properties:
        q:
          type: string
          description: The search query.
        gl:
          type: string
          description: Country code.
        hl:
          type: string
          description: Language code.
        type:
          type: string
          description: The type of search performed.
        num:
          type: integer
          description: Number of results requested.
        page:
          type: integer
          description: Page number.
    ShoppingResult:
      type: object
      properties:
        title:
          type: string
          description: Product name.
        source:
          type: string
          description: Merchant/retailer name.
        link:
          type: string
          format: uri
          description: URL to the product listing.
        price:
          type: string
          description: Product price (formatted string, e.g., "$104.97").
        delivery:
          type: string
          description: Delivery information (e.g., "Free shipping", "$8.00 shipping").
        imageUrl:
          type: string
          format: uri
          description: Product image URL.
        rating:
          type: number
          format: float
          description: Product rating (1-5).
        ratingCount:
          type: integer
          description: Number of reviews/ratings.
        offers:
          type: string
          description: Number of merchant offers (e.g., "10+").
        productId:
          type: string
          description: Google product ID.
        position:
          type: integer
          description: Position in shopping results.
    SearchRequest:
      type: object
      required:
      - q
      properties:
        q:
          type: string
          description: The search query string.
          example: google search
        gl:
          type: string
          description: Country code for geolocation of results (ISO 3166-1 alpha-2).
          example: us
          default: us
        hl:
          type: string
          description: Language code for results (ISO 639-1).
          example: en
          default: en
        num:
          type: integer
          description: Number of results to return (1-100).
          minimum: 1
          maximum: 100
          default: 10
          example: 10
        page:
          type: integer
          description: Page number for pagination.
          minimum: 1
          default: 1
          example: 1
        tbs:
          type: string
          description: Time-based search filter. Use values like 'qdr:h' (past hour), 'qdr:d' (past day), 'qdr:w' (past week), 'qdr:m' (past month), 'qdr:y' (past year).
          example: qdr:d
        autocorrect:
          type: boolean
          description: Whether to enable autocorrect for the query.
          default: true
    ShoppingSearchResponse:
      type: object
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        shopping:
          type: array
          description: Shopping search results.
          items:
            $ref: '#/components/schemas/ShoppingResult'
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error description.
  responses:
    Unauthorized:
      description: Unauthorized — invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request — missing or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too many requests — rate limit exceeded or credits exhausted.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key obtained from https://serper.dev/api-key
